# Auto detect text files and perform LF normalization
* text=auto

# Binary files - never modify line endings
*.pfx binary
*.p12 binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.nupkg binary
*.snupkg binary
